<h1 class="text-center">I'm hungry!</h1>

<form class="create-form">
    <h2>Add a Burger:</h2>
    <div class="form-group">
        <label for="brgr"></label>
        <input type="text" id="brgr" name="burger_name"> <button class="btn btn-primary text-light" type="submit">Add My Burger</button>
    </div>
    
</form>

<div class="row">
    <div class="col-6">
        <div class="sticky">
            <h2 class="border border-warning leftSide" style="background-color: orange;">Burgers that I can chose from!</h2>
        </div>
        <ul class="leftSide">
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block devour=true}}
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-6">
        <div class="sticky">
            <h2 class="border border-warning rightSide" style="background-color: yellow;">Burgers that i eaten!</h2>
        </div>
        <ul class="rightSide">
            {{#each burgers}}
                {{#if devoured}}
                     {{> burgers/burger-block devour=false}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>